@media (max-width: 768px) {
    header {
        padding: auto 24px;
    }

    header nav {
        z-index: 1;
        background-color: aqua;
        position: relative;
    }
    
    header nav .menu {
        background-color: royalblue;
    }
    
    header .menu .to-close {
        display: block;
        position: absolute;
    }
    
    header .list {
        display: none;
        margin-top: 40px;
        /* position: absolute;
        top: 0;
        right: 0; */
    }

    header .list li a {
        color: var(--tertiary-neutral);
    }
    
    header input:checked ~ label .to-open {
        display: block;
    }
    
    header input:checked ~ .list {
        display: flex;
        flex-direction: column;
    }

    header input:checked ~ label .to-close {
        display: none;
    }

    header .list .btn-header {
        color: var(--tertiary-neutral);
    }

    main {
        background: url(../images/bg-pattern-intro-left-desktop.svg) no-repeat left -503px top 414px/697px 649px, url(../images/bg-pattern-intro-right-desktop.svg) no-repeat right -262px top -137px/649px 697px,linear-gradient(#2D2641 951px, #ffffff 951px);
    }

    .hero {
        flex-direction: column-reverse;
        padding-top: 0;
        align-items: center;
        text-align: center;
    }

    .hero-container {
        width: 327px;
        color: var(--tertiary-neutral);
    }

    .title {
        font: 400 48px 'DM Serif Display', serif;
        line-height: 48px;
        margin-top: 93px;
    }

    .btn-hero {
        border: 1px solid var(--tertiary-neutral);
        color: var(--tertiary-neutral);
        margin: 32px auto 0;
        font: 700 13px 'Karla', sans-serif;
    }

    .container-about {
        background-color: aqua;
        width: 327px;
    }

    .about .container-about .subtitle {
        padding-top: 41px;
        font-size: 48px;
    }
    
    .list-container-about {
        margin-top: 96px;
        display: flex;
        gap: 30px;
        flex-direction: column;
        background-color: red;
    }

    footer {
        background: var(--tertiary-neutral) url(../images/bg-pattern-footer-desktop.svg) no-repeat;
        /* width: 100%; */
        margin-top: 140px;
        padding: 88px 24px;
    }

    footer .container-footer .content-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 32px;
    }

    .grid {
        text-align: center;
        /* width: ; */
        margin-top: 40px;
        padding-top: 40px;
        grid-template-columns: 1fr;
        place-items: center;
    }

    .box {
        /* background-color: palevioletred; */
        margin-top: 40px;
    }
}