header {
    width: 100%;
    min-height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .logo-header {
    width: 111px;
    height: auto;
}

/* MENU HAMBURGUER */

header .menu .to-close, .to-open {
    display: none;
    cursor: pointer;
}

header input {
    display: none;
}

/* FIM DO MENU */

header .list {
    display: flex;
    align-items: center;
    gap: 25px;
}

header .list a {
    color: var(--secundary-neutral);
    font-weight: 700;
}

header .list a:active {
    color: var(--primary-neutral);
}

header .list .btn-header {
    border: 1px solid var(--primary-neutral);
    color: var(--primary-neutral);
    width: 146px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.list .btn-header:active {
    background-color: var(--primary-neutral);
    color: var(--tertiary-neutral);
}

@media (max-width: 768px) {
    header nav {
        z-index: 1;
        background-color: red;
        position: relative;
    }
    
    header nav .menu {
        background-color: royalblue;
    }
    
    header .menu .to-close {
        display: block;
    }
    
    header .list {
        display: none;
        margin-top: 40px;
    }
    
    header input:checked ~ label .to-open {
        display: block;
        position: absolute;
        right: 0;
    }
    
    header input:checked ~ .list {
        display: flex;
        flex-direction: column;
    }

    header input:checked ~ label .to-close {
        display: none;
    }
}

main {
    background: url(../img/Group\ 18.svg) no-repeat left -230px top 414px/697px 649px, url(../images/bg-pattern-intro-right-desktop.svg) no-repeat right -262px top -137px/649px 697px,linear-gradient(#2D2641 600px, #ffffff 600px);
}

.hero {
    display: flex;
    justify-content: center;
    padding-top: 105px;
}

.hero-container {
    width: 540px;
    color: var(--tertiary-neutral);
}

.title {
    font: 400 72px 'DM Serif Display', serif;
    line-height: 64px;
    letter-spacing: -1px;
    margin-top: 63px;
}

.description-hero {
    font-size: 16px;
    margin-top: 16px;
    line-height: 26px;
}

.btn-hero {
    border: 1px solid var(--tertiary-neutral);
    color: var(--tertiary-neutral);
    width: 146px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    font: 700 13px 'Karla', sans-serif;
}

.btn-hero:active {
    background-color: var(--tertiary-neutral);
    color: var(--primary-neutral);
}

.about {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-about {
    color: #2C2830;
    width: 1110px;
}

.about .container-about .subtitle {
    font: 400 72px 'DM Serif Display', serif;
    letter-spacing: -1px;
    padding-top: 64px;
}

.list-container-about {
    margin-top: 96px;
    display: flex;
    gap: 30px;
}

.list-container-about li {
    width: 350px;
}

.list-container-about li h3 {
    font: 400 28px 'DM Serif Display', serif;
    margin-top: 32px;
}

.list-container-about li p {
    color: var(--secundary-neutral);
    margin-top: 16px;
    font-weight: 400;
    line-height: 26px;
}

.teste {
    background: var(--primary-color) url(../images/bg-pattern-how-we-work-desktop.svg) no-repeat right;
    width: 1110px;
    /* padding: 69px 80px; */
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 158px;
    /* gap: 314px; */
}

.teste .subtitle {
    color: #ffffff;
    font: 400 56px 'DM Serif Display', serif;
    line-height: 56px;
}

.teste .btn-about {
    border: 1.5px solid ;
    width: 160px;
    height: 40px;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

footer {
    background-color: brown;
    width: 100%;
    margin-top: 214px;
}

footer .container-footer {
    background-color: cadetblue;
    max-width: 1110px;
}

footer .container-footer .content-footer {
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

footer .container-footer .content-footer .redes-sociais {
    background-color: aqua;
    display: flex;
    gap: 16px;
}

.grid {
    background-color: green;
    margin-top: 84px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

footer i {
    font-size: 24px;
}